{% extends 'base.html' %}

{% block content %}
<div class='flex justify-center my-8'>
	<form method="post"enctype="multipart/form-data" class='flex flex-col justify center bg-[#F9DC5C] font-[Jua] w-1/2 border-5 border-[#C76D39] rounded-md'>
		{% csrf_token %}
		<div class='relative mt-4'>
			<div class='flex justify-center text-[24px]'>Name</div>
			{{ form.name }}
		</div>

		<div class='relative'>
			<div class='flex justify-center text-[24px]'>Birthday</div>
			{{ form.date }}
		</div>

		<input type="submit" value="Submit" class="bg-[#DB9065] relative left-3/8 w-1/4 h-10 my-6 rounded-md text-[24px]">
	</form>
</div>

<div class="flex justify-center">
	<a href="{% url 'countdown:countdown_list' %}" class="w-1/8">
		<div class="bg-[#DB9065] rounded-md py-6 relative bg-[#DB9065] flex justify-center text-[24px] font-[Jua] rounded-md">
			Back to list
		</div>
	</a>
</div>
{% endblock %}