{% extends 'base.html' %}

{% block content %}
	<h1 class="text-5xl font-bold underline">COUNTDOWNS HERE</h1>

	<a href="{{ nearest_birthday.get_absolute_url }}"><div class="absolute top-1/8 left-1/4 w-1/2">
		<div class="relative bg-[#F9DC5C] border-5 border-[#F2A359] h-64 rounded-md">
			<div class="flex flex-col justify-center items-center pt-3">
				<p class="text-[24px] leading-none font-[Jua]">
					The nearest birthday is:
				</p>
				<p class="text-[64px] text-[#C76D39] leading-none font-[Kalam] pt-2">
					{{ nearest_birthday.name }}
				</p>
				<p class="text-[48px] leading-none font-[Josefin_Slab]">
					{{ nearest_birthday.date|date:"M" }} {{ nearest_birthday.day }}
				</p>
			</div>
			<div class="bg-[#FCEFB4] w-2/3 absolute left-1/6 bottom-3 flex justify-center">
				<h2 id="countdown" class="text-[48px] text-[#DB9065] font-[Josefin_Slab]">
					{{ days|stringformat:"02d"}} : {{ hours|stringformat:"02d" }} : {{ minutes|stringformat:"02d" }} : {{ seconds|stringformat:"02d" }}
				</h2>
			</div>
		</div>
	</div></a>
	<div class="relative size-64 bg-green-500 justify-self-auto">
		<div class="bg-red-100 absolute right-0 top-0 size-16">1</div>
		<div class="bg-blue-100 absolute left-16 bottom-16 size-32">2</div>
		<div class="h-full bg-yellow-100 w-1/4">full</div>
	</div>
	<div class="grid grid-cols-3 h-128 content-evenly gap-4">
	{% for birthday in object_list %}
		<a href='{{ birthday.get_absolute_url }}'><div class="bg-blue-100">{{ birthday.name }} - {{ birthday.date|date:"M" }} {{ birthday.day }}</div></a>
	{% endfor %}
	</div>
	<a href="{% url 'countdown:countdown_create' %}" class="btn btn-warning">Add a Birthday</a>

	

	<script>
	        // Function to update the countdown timer
	        function updateTimer() {
	        	var days = parseInt(document.getElementById('countdown').textContent.split(':')[0]);
	            var hours = parseInt(document.getElementById('countdown').textContent.split(':')[1]);
	            var minutes = parseInt(document.getElementById('countdown').textContent.split(':')[2]);
	            var seconds = parseInt(document.getElementById('countdown').textContent.split(':')[3]);
	 
	            if (seconds > 0) {
	                seconds--;
	            } 
	            else {
	                if (minutes > 0) {
	                    minutes--;
	                    seconds = 59;
	                } 
	                else {
	                    if (hours > 0) {
	                        hours--;
	                        minutes = 59;
	                        seconds = 59;
	                    } 
	                    else {
	                    	if (days > 0){
	                    		// Timer has reached zero, you can handle this case as needed
	                    	}
	                    }
	                }
	            }
	 
	            // Update the timer display
	            document.getElementById('countdown').textContent = 
	            	(days < 10 ? '0' : '') + days + ' : '+
	                (hours < 10 ? '0' : '') + hours + ' : ' +
	                (minutes < 10 ? '0' : '') + minutes + ' : ' +
	                (seconds < 10 ? '0' : '') + seconds;
	        }
	 
	        // Update the timer every second
	        setInterval(updateTimer, 1000);
	    </script>
{% endblock %}